.container {
  width: 50rem;
  height: 40rem;
  background-color: red;
  margin: 20rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container h1 {
  color: #fff;
  font-size: 6rem;
  text-align: center;
}
